{% extends "eggplant/core/base.html" %}
{% load bootstrap3 %}
{% block content %}


{% if payment %}


<div class="row">
<div class="col-sm-12">
	<strong>Items in your order:</strong>
</div>
<div class="col-sm-12">
 <div class="table-responsive">
  <table class="table table-striped">
      <thead>
        <tr>
            <th>Product name</th>
            <th>Delivery date</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
	{% for item in items %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.delivery_date|date:"DATETIME_FORMAT"|default:"-"}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.price}}</td>
			</td>

		</tr>
	{% endfor %}
	</tbody>
  </table>
</div>
</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<strong>Your order Summary:</strong>
	</div>

	<div class="col-sm-12">
	 <div class="table-responsive">
	  <table class="table table-striped">
	      <thead>
	        <tr>
	            <th>Order id</th>
	            <th>Order date</th>
	            <th>payment status</th>
	            <th>total amount</th>
	        </tr>
	    </thead>
	    <tbody>
		<tr>
			<td>{{payment.id}}</td>
			<td>{{payment.created|date:"DATETIME_FORMAT"|default:"-"}}</td>
			<td>{{payment.status}}</td>
			<td>{{payment.amount}}</td>
		</tr>
		</tbody>
	  </table>
	 </div>
	</div>
</div>
{% else %}
	<div class="row">
		<div class="col-md-5 col-span-4">Wrong order</div>
	</div>
{% endif %}
<div class="row">
<div class="col-md-6 text-left">
	<a class="btn btn-success" href="{% url 'eggplant:market:market_home' %}" >Go to Market</a>
</div>
<div class="col-md-6 text-right">
	<form action="{% url 'eggplant:market:payment_list' %}">
		<button name="submit" class="btn btn-success">Go to Order History</button>
	</form>
</div>
</div>

{% endblock%}
